# Basics

#

### Ex. circulate the values of n variables.

In [1]:


# a=[1,2,3,4]
# a[2:]+a[:2]

# Using function

def circulate(lst,n):
    return lst[n:]+lst[:n]

circulate([44,78,9,-5,"Roshan","Bike",45],4)

['Roshan', 'Bike', 45, 44, 78, 9, -5]

### Ex. Leap Year

In [1]:

def leap(year):
    if year%4==0 and (year%100!=0 or year%400==0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")
        
leap(2052)

2052 is a leap year

### Ex. Distance between two points in co-ordinate geomentry.

In [3]:


# import math
# x1=int(input("Enter x1\n"))
# x2=int(input("Enter x2\n"))
# y1=int(input("Enter y1\n"))
# y2=int(input("Enter y2\n"))
# dis=math.sqrt(((x2-x1)**2)+((y2-y1)**2))
# print(dis)


#Using function

def distance(x1,x2,y1,y2):
    import math
    dis=math.sqrt(((x2-x1)**2)+((y2-y1)**2))
    return dis

distance(9,3,7,2)

7.810249675906654

#

# 2] Control Flow and Functions

 #

### Ex.Exchange the values of variables

In [4]:

a=4
b=6
temp=a
a=b
b=temp
print(a,b)

6 4

### Ex. EvenOdd numbers

In [5]:

def evenodd(x):
    if x%2==0:
        print(f"{x} is even")
    else:
        print(f"{x} is odd")

evenodd(14)

14 is even

### Ex. Greatest the two numbers

In [6]:


def maximum(x,y):
    if x>y:
        print(f"{x} is greater than {y}")
    elif x<y:
        print(f"{x} is less than {y}")
    else:
        print(f"{x} and {y} are equal")
maximum(14,-8)

14 is greater than -8

### Ex. Find sum of n natural numbers and find average of it.

In [7]:


# n=int(input("Enter value of n\n"))
# i=1
# sum=0
# while i<=n:
#     sum=sum+i
#     i+=1
# print(sum)
# print("Average: ",sum/n)

# Using function

def sumAvg(n):
    i=1
    sum=0
    while i<=n:
        sum=sum+i
        i+=1
    print("Sum: ",sum)
    print("Average: ",sum/n)
sumAvg(5)

Sum:  15
Average:  3.0

### Ex. Display square of n numbers using while loop.

In [8]:


def Square(n):
    i=1
    while i<=n:
        print(f"{i} square is {i**2}")
        i=i+1
Square(10)

1 square is 1
2 square is 4
3 square is 9
4 square is 16
5 square is 25
6 square is 36
7 square is 49
8 square is 64
9 square is 81
10 square is 100

### Ex. Even and Odd numbers between 1 and n

In [9]:


def even_odd(n):
    i=1
    while i<=n:
        if i%2==0:
            print(f"{i} is even")
        else:
            print(f"{i} is odd")
        i=i+1
even_odd(10)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

### Ex. Display fibonacci numbers for the sequance of length n.

In [10]:


def fibonacci(n):
    i=1
    a=0
    b=1
    print(a)
    print(b)
    while i<=(n-2):
        c=a+b
        a=b
        b=c
        print(c)
        i=i+1
fibonacci(11)

0
1
1
2
3
5
8
13
21
34
55

### Ex. find sum of 1 to 10 numbers using for loop.

In [11]:

sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

### Ex. Display multiplication table.

In [12]:

# n=int(input("Enter c : \n"))
# for i in range(1,11):
#     print(f"{n}*{i} = {n*i}")

# Using function

def table(n):
    for i in range(1,11):
        print(f"{n}*{i} = {n*i}")
        
table(4)

4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

### Ex. Program to print a series 1+(1/2)+(1/3)+-------+(1/n).

In [13]:


# n=int(input("Enter n : \n"))
# sum=0
# for i in range(1,n+1):
#     sum=sum+(1/i)
# print(sum)

# Using function

def series(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+(1/i)
    return sum

series(5)

2.283333333333333

### Ex. Program to print given number is prime or not.

In [14]:


def prime(n):
    if n>1:
        for i in range(2,n):
            if (n%i)== 0:
                print(f"{n} is not prime")
                break
        else:
            print(f"{n} is prime")
    else:
        print("Invalid input")
        
prime(11)

11 is prime

### Ex. Printing pattern

In [15]:

def pattern1(n):
    for i in range(1,n+1):
        for j in range(0,i):
            print("*",end=" ")
        print()

pattern1(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

### Ex. Printing Pattern

In [16]:


def pattern2(n):
    for i in range(1,n+1):
        for j in range(i,n+1):
            print("*",end=" ")
        print()
        
pattern2(10)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Ex. Printing pattern

In [61]:


def pattern3(n):    # n = number of rows
    j=0
    for i in range(1,n+1):
        for space in range(1,(n-i)+1):
            print(end=" ")
        while j!=(2*i-1):
            print("*",end="")
            j+=1
        j=0
        print()
pattern3(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

### Ex. Printing pattern

In [17]:
#Printing Pattern

for i in range(1,6):
    for k in range(1,i):
        print(end="")
    for j in range(i,6):
        print(" ",j,end="")
    print()

  1  2  3  4  5
  2  3  4  5
  3  4  5
  4  5
  5

### Ex. Printing Pattern

In [18]:


for i in range(1,6):
    for k in range(65,65+i):
        a=chr(k)
        print(a," ",end="")
    print()

A
A  B
A  B  C
A  B  C  D
A  B  C  D  E

### Ex. Found element 5

In [19]:


for i in range(1,11):
    if i==5:
        print("Element 5 is found")
        break
    print(i)

1
2
3
4
Element 5 is found

In [20]:
# Find largest among 3 numbers

def largest(a,b,c):
    if a>=b and a>=c:
        print(a)
    elif b>=a and b>=c:
        print(b)
    elif c>=a and c>=b:
        print(c)
    elif a==b==c:
        print("all are equal")
largest(8,6,8)

8

In [21]:
# Sum of first n even numbers

def even_sum(n):
    sum=0
    step=2
    i=1
    while i<=n:
        sum=sum+step
        step=step+2
        i=i+1
    return sum
    
even_sum(3)

12

In [22]:
# find factorial of given number (Recursive function)

# def factorial(n):
#     if n==0:
#         return 1
#     if n==1:
#         return 1
#     if n>1:
#         return n*factorial(n-1)
        
# factorial(4)

# Factorial (Without Recursion)
def factorial_w(n):
    fact=1
    i=1
    while i<=n:
        fact=fact*i
        i+=1
    return fact
factorial_w(4)

24

In [23]:
# Find factors of given numbers

def factors(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i)

factors(12)

1
2
3
4
6
12

In [24]:
# Find GCD of two numbers

def gcd(a,b):
    while b:
        a,b=b,a%b
    return a

gcd(12,15)

3

In [25]:
# Dispaly 1 to 10 numberse in reverse order using (reursive function)

def reverse(n):
    if n<=0:
        return
    else:
        print(n)
        reverse(n-1)
reverse(10)

10
9
8
7
6
5
4
3
2
1

In [26]:
# Generate 1st n fibonocci numbers (Recursive function)

def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)
    
for i in range(0,11):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34
55

In [27]:
# List as Arrays

a=[1,5,6,9]
# for i in range(len(a)):
#     print(a[i])

b=[i for i in range(10)]   # Output :- [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a.extend(b)
a

[1, 5, 6, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# GCD of two numbers using another method

def GCD(a,b):
    c=b
    b=a%b
    if b==0:
        return c
    else:
        return GCD(c,b)
    
GCD(15,5)

5

In [29]:
# Exponents

def exp(base,degree):
    return base**degree

exp(15,5)

759375

In [30]:
# Python program to multiply 2 matrices.

A=[[1,2,3],
   [4,5,6],
   [7,8,9]]

B=[[2,2,2,2],
  [3,3,3,3],
  [4,4,4,4]]

result=[[0,0,0,0],
       [0,0,0,0],
       [0,0,0,0]]

for i in range(len(A)):       #iterating by rows of A
    for j in range(len(B[0])):    #iterating by columns of B
        for k in range(len(B)):      ##iterating by rows of B
            result[i][j]+=A[i][k]*B[k][j]

for k in result:
    print(k)

[20, 20, 20, 20]
[47, 47, 47, 47]
[74, 74, 74, 74]

#

# 3] Lists,Touples and Dictionaries:-

#

In [31]:
# To remove duplicates from a list

a=[4,5,6,3,1,5,4,6,8,5,4,5,6,2,1,4,5,6]
duplicates=set()
for i in a:
    if i not in duplicates:
        duplicates.add(i)
        
print(duplicates)

{1, 2, 3, 4, 5, 6, 8}

In [32]:
# Read a list of words and return the length of longest one:

a=[]
n=int(input("Enter number of words in a list\n"))
for i in range(0,n):
    item=input("Enter word"+ str(i+1) + ".\n")
    a.append(item)
max_length=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max_length):
        max_length=len(i)
        temp=i

print(a)
print("the longest length word is\n")
print(temp)

Enter number of words in a list
2
Enter word1.
roshan
Enter word2.
amar
['roshan', 'amar']
the longest length word is

roshan

In [33]:
# Map function
"""""
 map() function applies the values of every number of the list and returns a results.
 The map() function takes two arguments,
     reults=map(function, sequance)
"""""


def increment_by_3 (x):
    return x+3

new_list=list(map(increment_by_3, range(10)))
new_list

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [34]:
# Another example of map()

names=["Roshan","Amar","Akshay","Rohit"]
lengths=list(map(len, names))
lengths

[6, 4, 6, 5]

In [35]:
# Filter Function
"""""
The filter() function takes two arguments,
     reults=filter(function, sequance)
"""""

def even(x):
    return x%2==0       # eg. even(10) {output:True} , even(45) {Output: False} i.e this is boolean function

l=filter(even, [4,2,5,9,3,6])
list(l)

[4, 2, 6]

In [36]:
# Display power of 2 using lambda function.
def power(n):
    """""
    Enter total number of terms
    """""
    result=list(map(lambda n : 2**n, range(n)))
    for i in range(1,n):
        print("2^",i,"=",result[i])

power(10)

2^ 1 = 2
2^ 2 = 4
2^ 3 = 8
2^ 4 = 16
2^ 5 = 32
2^ 6 = 64
2^ 7 = 128
2^ 8 = 256
2^ 9 = 512

#

# Prbolem Solving

#

In [37]:
# GCD of two numbers

def Gcd(a,b):
    while b: 
        a,b=b,a%b
    return a

Gcd(10,15)

5

In [38]:
# Exponentiation (Power of numbers) using while loop 

def power2(base,power):
    result=1
    i=1
    while i<=power:
        result=base*result
        i=i+1
    return result
power2(5,3)

125

In [39]:
# Find maximum of list of numbers

def maximum_list(lst):
    max_list=lst[0]
    i=0
    while i<len(lst):
        if lst[i]>max_list:
            max_list=lst[i]
        i=i+1
    return max_list
maximum_list([4,5,10,14,2,45,4,3])

45

In [40]:
# Display current Date and Time

import datetime
now=datetime.datetime.now()
print("Current date : ")
print(now.strftime("%Y-%m-%d   %H:%M:%S"))

Current date :
2022-06-29   13:43:22

In [41]:
#Display Calendar

import calendar
yy=int(input("Enter year\n"))
mm=int(input("Enter month index\n"))
print(calendar.month(yy,mm))

Enter year
2022
Enter month index
6
     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [42]:
# Convert Fahrenheit to Celcius

def convert_FtoC(f):
    print("Celcius is : ")
    return (f-32)/1.8
print(convert_FtoC(104.9))

Celcius is :
40.5

In [43]:
# LCM of two numbers

def LCM(a,b):
    if a>b:
        m=a
    else:
        m=b
    while (True):
        if (m%a==0) and (m%b==0):
            lcm=m
            break
        m+=1
    return lcm
LCM(4,6)

12

In [44]:
# Prime number between given interval (closed interval)

def prime_intvl(a,b):
    for num in range(a,b+1):
        if num>1:
            for i in range(2,num):
                if num%i==0:
                    break
            else:
                print(num)
prime_intvl(11,19)

11
13
17
19

In [45]:
# Factors of given number

def fact(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i)
fact(14)

1
2
7
14

In [46]:
# Convert number decimal to binary using recurssion

def decTObin(n):
    if n>1:
        decTObin(n//2)
    print(n%2,end=" ")
decTObin(14)

1 1 1 0

In [47]:
# Addition of two matrices

a=[[1,2,3],
  [4,5,6],
   [7,8,9]]
b=[[11,12,13],
  [14,15,16],
  [17,18,19]]
c=[[0,0,0],
  [0,0,0],
  [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        c[i][j]=a[i][j]+b[i][j]

for k in c:
    print(k)

[12, 14, 16]
[18, 20, 22]
[24, 26, 28]

In [48]:
#Multiplication of two matrices

A=[[1,2,3],
   [4,5,6],
   [7,8,9]]

B=[[11,12,13],
  [14,15,16],
  [17,18,19]]

result=[[0,0,0],
       [0,0,0],
       [0,0,0]]

for i in range(len(A)):       #iterating by rows of A
    for j in range(len(B[0])):    #iterating by columns of B
        for k in range(len(B)):      ##iterating by rows of B
            result[i][j]+=A[i][k]*B[k][j]

for k in result:
    print(k)

[90, 96, 102]
[216, 231, 246]
[342, 366, 390]

In [49]:
# Transpose of matrix

a=[[1,2],
  [3,4],
  [5,6]]
b=[[0,0,0],
  [0,0,0]]

for i in range (len(a)):
    for j in range(len(a[0])):
        b[j][i]=a[i][j]
        
for k in b:
    print(k)

[1, 3, 5]
[2, 4, 6]

In [50]:
# Check whether given string is palindrome or not.

def palindrome(strg):
    rev_str=reversed(str(strg))
    if list(strg)==list(rev_str):
        print("It is palindrome")
    else:
        print("It is not palindrome")

palindrome("madam")

It is palindrome

In [51]:
# Sort words alphabetically from given string

def alphabet(strg):
    words=strg.split()
    words.sort()
    for word in words:
        print(word)

alphabet("roshan is a winner")

a
is
roshan
winner

In [52]:
# To delete desire word from given sring

def del_word(str1,str2):
    """""
    str1 = Any string to remove perticular string
    str2 = word to be deleted
    
    """""
    word_list=str1.split()
    print("".join([i for i in str1 if i not in str2]))

del_word("This is big python program","big")

Ths s  python proram